<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="1010"><!-- General -->
        <setting id="username" type="text" label="1013" default="" />
        <setting id="password" type="text" option="hidden" label="1014" default="" />
        <setting type="sep" />
        <setting id="debug" type="bool" label="1011" default="false"/>
        <setting id="noBugging" type="bool" label="Don't bug me with non-error dialogs" default="true"/>
    </category>
    <category label="Conditional Sync">
        <setting id="instantUpdateOnWatchMark" type="bool" label="Instantly update Trakt seen mark on (un)watch" default="true"/>
        <setting id="instantOnlyOnUnwatchMark" type="bool" label="only do this on unwatch" default="true" enable="eq(-1,true)"/>
        <setting type="sep" />
        <setting id="sync_after_plays" type="bool" label="Sync with Trakt after number of plays" default="true"/>
        <setting id="sync_after_plays_num" type="slider" label="amount of plays" range="1,1,40" default="10" option="int" enable="eq(-1,true)"/>
        <setting id="sync_after_plays_count" type="text" label="current" default="" visible="true" enable="eq(-2,true)"/>
        <setting type="sep" />
        <setting id="sync_after_days" type="bool" label="Sync with Trakt after amount of days" default="true"/>
        <setting id="sync_after_days_num" type="slider" label="amount of days" range="1,1,30" default="7" option="int" enable="eq(-1,true)"/>
        <setting id="sync_after_days_lastSync" type="text" label="current" default="" visible="true" enable="eq(-2,true)"/>
    </category>
    <category label="Automatic Sync"><!-- Auto Sync -->
        <setting id="autosync_collection" type="bool" label="Auto update Collection at startup" default="false"/>
        <setting id="autosync_cleancollection" type="bool" label="Auto clean Collection at startup" default="false"/>
        <setting id="autosync_seen" type="bool" label="Auto sync seen state at startup" default="false"/>
    </category>
    <category label="Legacy Settings"><!-- Rating -->
        <setting type="text" label="" default="These settings are still working leftovers from the original addon" enable="false"/>
        <setting type="sep" />
        <setting type="text" label="" default="Scrobbling" enable="false"/>
        <setting id="scrobble" type="bool" label="Scrobble Movies/TV Shows" default="false"/>
        <setting id="scrobble_min_view_time" type="slider" label="1043" range="0,5,100" default="75" enable="eq(-1,true)"/>
        <setting type="sep" />
        <setting type="text" label="" default="Rating" enable="false"/>
        <setting id="rate_movie" type="bool" label="1031" default="false"/>
        <setting id="rate_episode" type="bool" label="1032" default="false"/>
        <setting id="rate_each_playlist_item" type="bool" label="1033" default="false"/>
        <setting id="rate_min_view_time" type="slider" label="1034" range="0,5,100" default="85" enable="eq(-3,true) |  eq(-2,true)"/>
    </category>
</settings>